{% extends "base.html" %}
{% block content %}

<html>
	<head>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
        
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="apna.css") }}" />

        <script type="text/javascript">
        	function generateStars(divLabel, numOfStars) {
        		maxstars = 5;
        		console.log(divLabel);
        		text = "<span class=\"starRating\">";
        		for (i=1; i <= maxstars; i++) {
        			if (i <= numOfStars)
        				text += "<img src='/static/star-on.svg' class='staron'>";
        			else
        				text += "<img src='/static/star-off.svg' class='staroff'>";
        		}
        		text += "</span>";
        		document.getElementById(divLabel).innerHTML += text;
        	}
        </script>

	</head>

	<body>
		<div class='yelp_review' style='width:100%'>
			<h1> {{ name }} </h1>
			<ul>
				{% for key, value in cat_score.iteritems() %}
				<li><span> {{ key }} </span> : <span> 
				
					<div id="category_{{key}}" > </div>
					<script>
						generateStars("category_{{key}}", Math.round({{ value }} * 5) );
					</script>
				
				</span></li>
				{%endfor%}
			</ul>

			</ul>
			<ul>
			{% for r in res %}
				<li><span>{{ r }}</span></li>
			{% endfor %}
			</ul>
		</div>

		{% endblock %}
	</body>
</html>